.detail-container{
    margin : 0;
    display: flex;
    justify-content: center;
    height:auto;
    background-image: url(C:\Users\Gabriela\Documents\Lara\HENRY\PI\PI-Videogames-main\client\src\utils\343976.jpg);
    background-size: cover;
    background-position: center ;
    background-attachment: fixed; 
}

.detail{
    background-color: rgba(255, 255, 255, 0.644);
    margin: 40px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px yellow;
}

.detail-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}