.card-container{
    margin:0px; 
    display: flex;
    justify-content: center;
   
}

.card-name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(244, 248, 0);
    font-style: initial;
}

.body{
    background-color: rgba(252, 253, 252, 0.562);
    height: 300px;
    width: 250px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(243, 247, 2);
    
}
.card-genre{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.card-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 0px;
}