.home-container{
    margin : 0;
    display: flex;
    justify-content: center;
    height:auto;
    background-image: url(C:\Users\Gabriela\Documents\Lara\HENRY\PI\PI-Videogames-main\client\src\utils\343976.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
  
}

.card{
    margin: 20px;
    padding: 2px 16px;

    background-color: aqua;
    /* flex-direction: row; */
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

   
}