.home-container{

    margin : 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(C:\Users\Gabriela\Documents\Lara\HENRY\PI\PI-Videogames-main\client\src\utils\343976.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background-repeat: no-repeat;
}