.home-container{
    margin : 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:auto;
    background-image: url(C:\Users\Gabriela\Documents\Lara\HENRY\PI\PI-Videogames-main\client\src\utils\343976.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
  
}

.filters-container{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}

.order-1, .order-2, .order-3, .order-4{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.select-1, .select-2, .select-3, .select-4{
    margin: 15px; 
    padding: 0px;
    border-radius: 20px;
    border-color: rgb(223, 223, 223);
    height:30px;
    width: 150px;
    margin-top: 10px;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 5px 2px 5px yellow;
    cursor: pointer;
}

.card{
    margin: 20px;
    padding: 2px 16px;
    background-color: aqua;
    /* flex-direction: row; */
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.title-2, .title-3, .title-4, .titleS-1{
    color:aliceblue;
    font-size:10px;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: row;
    margin:2px;
}